body{
  color:#000033;
  background-color: #f1f8e9;
  padding: 2%;
}

#fundo{
  background-image:url(../imagens/fundo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 95%;
  height: 500px;
}

#fundo:hover{
  transform: scale(1.002);
}

#menu-navegacao{
  margin: auto;
  padding: 15%;
}

#botao-tipo{
  margin-right: 50px;
  background-color: #f1f8e9;
}

#botao-sobre{
  background-color: #f1f8e9;
}

#botao-coonverter:hover{
  background-color: #f1f8e9;
}

#fundo-input-url{
  border: 2px #039be5 solid;
  background-color: #f1f8e9;
  padding: 10px;
  vertical-align: auto;
  margin-left: 20px;
  margin-right: 20px;
}